html, .homeBody {
/* width: 100%;
height: 100%; */
padding: 0;
margin: 0;
background-image: radial-gradient(circle at center, #27588e 0%, #103359 25%, #223347 60%, #131a22 85% ); */
font-size: 0;
overflow: hidden;
/* z-index: -1000000; */
}

/* svg{
/* background-color: rgba(0,0,0,0.0); */
/* display: block;
width: 100%;
height: 100%;
padding: 0;
margin: 0;
position:absolute; */

/* } */

.parent {
  /* width: 320px;
  height: 50px; */
  /* display: block; */
  transition: all 0.3s;
  cursor: pointer;
  /* padding: 12px; */
  /* box-sizing: border-box; */
}

/***  desired colors for children  ***/
.parent{
  background-image: radial-gradient(circle at center, #27588e 0%, #103359 25%, #223347 60%, #131a22 85% );
  /* color: #000; */
  /* background: #def; */
}

/* .parent span{
  font-size: 18px;
  margin-right: 8px;
  font-weight: bold;
  font-family: 'Helvetica';
  line-height: 26px;
  vertical-align: top;
} */
.parent svg{
  max-height: 100%;
  width: 100%;
  /* display: inline; */
}

.parent svg path{
  /* fill: currentcolor; */
}


path{
  stroke-linecap: square;
  stroke: white;
  stroke-width: 0.5px;

}
/*
h1{
width: 100%;
font-family: sans-serif;
position:absolute;
text-align:center;
color:white;
font-size: 18px;
top: 40%;
opacity: 1;
transition: opacity 1s ease-in-out;
-moz-transition: opacity 1s ease-in-out;
-webkit-transition: opacity 1s ease-in-out;
} */

h1 a{
  color: #000;
  text-decoration:none;
}



.col-centered{
    float: none;
    margin: 0 auto;
}

/* .container {
	margin-left: auto;
	margin-right: auto;
	max-width: 720px;
	padding: 1em;
}

.item {
  font-style: normal;
  font-size: 0.8em;
  padding: 2px;
  color: white;
  background-color: #5b2c7f;
  overflow: scroll;
}

.item:hover {
  font-style: italic;
  background-color: purple;
}

.item p {
  margin: 8px;
  display: inline-flex;
}

.item button {
  margin: 5px;
  float: left;
  display: inline-flex;
  background-color: white;
  color: #5b2c7f;
}

.item button:hover {
  color: purple;
}

.scroll-left {
  height: 35px;
  position: relative;
}

.scroll-left p {
  margin: -7px 0px 0px 8px;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-align: left;
}

.scroll-left:hover p {
  /* Starting position */
  -moz-transform:translateX(50%);
  -webkit-transform:translateX(50%);
  transform:translateX(50%);
  /* Apply animation to this element */
  -moz-animation: scroll-left 9s linear infinite;
  -webkit-animation: scroll-left 9s linear infinite;
  animation: scroll-left 9s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0% { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes scroll-left {
  0% { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}

@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%);
  }
}

.search-form {
  display: inline-flex;
  margin: 20px;
}

.search-input-field {
  margin-right: 20px;
}

.search-form-button {
  margin: 5px;
  float: left;
  display: inline-flex;
  background-color: white;
  color: #5b2c7f;
}

.search-form-button:hover {
  color: purple;
}

.modal-body {
  background-color: #2d2e64;
}
